<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./card.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="card">
      <img
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg""
      alt="" class="card-img" />
      <div class="card-body">
        <h2 class="card-title">Our Changing Planet</h2>
        <h4 class="card-subtitle">by Kurt Wagner</h4>
        <p class="card-text">
          Visit ten places on our planet that are undergoing the biggest changes
          today.
        </p>
      </div>
      <div class="card-footer">
        <button class="card-button">READ</button>
        <button class="card-button">BOOKMARK</button>
        <span class="material-icons"> favorite_border </span>
        <span class="material-icons"> share </span>
        <span class="material-icons"> more_vert </span>
      </div>
    </div>
  </body>
</html>
