<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./styles.css" />
    <title>Document</title>
  </head>
  <body class="container">
    <div class="card-1">
      <img
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg""
      alt="" class="card-img" />
      <div class="card-body">
        <div class="card-heading">
          <h2 class="card-title">Nature at best</h2>
          <h4 class="card-subtitle">by Omkar Jadhav</h4>
        </div>
        <p class="card1-text">
          Visit ten places on our planet that are undergoing the biggest changes
          today.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-actions">
          <button class="card-button">READ</button>
          <button class="card-button">BOOKMARK</button>
        </div>
        <div class="card-icons">
          <span class="material-icons"> favorite_border </span>
          <span class="material-icons"> share </span>
          <span class="material-icons"> more_vert </span>
        </div>
      </div>
    </div>
    <div class="card-1">
      <div class="card-heading">
        <h2 class="card-title">Nature at best</h2>
        <h4 class="card-subtitle">by Omkar Jadhav</h4>
      </div>
      <img
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg""
      alt="" class="card-img" />
      <div class="card-body">
        <p class="card2-text">
          Visit ten places on our planet that are undergoing the biggest changes
          today.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-actions">
          <button class="card-button">READ</button>
          <button class="card-button">BOOKMARK</button>
        </div>
        <div class="card-icons">
          <span class="material-icons"> favorite_border </span>
          <span class="material-icons"> share </span>
          <span class="material-icons"> more_vert </span>
        </div>
      </div>
    </div>
    <div class="card-1">
      <img
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg""
      alt="" class="card-img" />
      <div class="card-body">
        <div class="card-heading">
          <h2 class="card-title">Nature at best</h2>
          <h4 class="card-subtitle">by Omkar Jadhav</h4>
        </div>
        <p class="card1-text">
          Visit ten places on our planet that are undergoing the biggest changes
          today.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-actions">
          <button class="card-button">READ</button>
          <button class="card-button">BOOKMARK</button>
        </div>
      </div>
    </div>
    <div class="card-1">
      <img
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg""
      alt="" class="card-img" />
      <div class="card-body">
        <div class="card-heading">
          <h2 class="card-title">Nature at best</h2>
          <h4 class="card-subtitle">by Omkar Jadhav</h4>
        </div>
        <p class="card1-text">
          Visit ten places on our planet that are undergoing the biggest changes
          today.
        </p>
      </div>
      <div class="card-footer">
        <!-- <div class="card-actions">
          <button class="card-button">READ</button>
          <button class="card-button">BOOKMARK</button>
        </div> -->
        <div class="card2-icons">
          <span class="material-icons"> favorite_border </span>
          <span class="material-icons"> share </span>
          <span class="material-icons"> more_vert </span>
        </div>
      </div>
    </div>
    <!-- Text over media -->
    <div class="card-1">
      <div class="card-img-overlap">
        <img
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg""
        alt="" class="card-img" />
        <div class="card-heading-overlap">
          <h2 class="card-title">Nature at best</h2>
          <h4 class="card-subtitle">by Omkar Jadhav</h4>
        </div>
      </div>
      <div class="card-body">
        <p class="card1-text">
          Visit ten places on our planet that are undergoing the biggest changes
          today.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-actions">
          <button class="card-button">READ</button>
          <button class="card-button">BOOKMARK</button>
        </div>
        <div class="card-icons">
          <span class="material-icons"> favorite_border </span>
          <span class="material-icons"> share </span>
          <span class="material-icons"> more_vert </span>
        </div>
      </div>
    </div>
  </body>
</html>
