.drawer {
  display: flex;
  flex-direction: column;
  /* background-color: aliceblue; */
  max-width: 350px;
  box-shadow: 0 0 15px rgb(192, 192, 192);

  border-radius: 16px;
}

.drawer-heading {
  padding: 1rem;
}

.drawer-title {
  font-size: 1.25rem;
  margin-bottom: 0.3rem;
}
.drawer-subtitle {
  color: #727289;
  font-size: 1rem;
}

.drawer-element {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem 0;
}

.drawer-element-name {
  padding-left: 0.5rem;
  flex: 1;
  color: #727289;
}

.drawer i {
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  color: #727289;
}

.drawer-element:hover {
  background-color: whitesmoke;
}
